<html lang="en">

<head>
<meta charset="utf8">
<title>SSD/SSL Administrative Panel</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="https://apis.google.com/js/client:platform.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
<script src="bootstrap-progressbar-0.8.3/bootstrap-progressbar.js" type="text/javascript" ></script>
<script src="js/admin.js" type="text/javascript"></script>
<script>
	var token = <%- JSON.stringify(token) %>;
</script>
<script src="js/spin.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="css/admin.css">
</head>

<body>

<!-- Navigation Bar -->
<div id="navbar">
    <nav role="navigation" class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">SSD/SSL Admin</a>
        </div>
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li id="videos" class="active"><a href="#">Videos</a></li>
                <li id="queries"><a href="#">Queries</a></li>
            </ul>
			<ul class="user_name_wrapper">
				<button class="switch_user_button btn btn-default">
					<%= userName %>
					<span class="glyphicon glyphicon-transfer"></span>
				</button>
			</ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a id="reset-button" href="#"><span class="glyphicon glyphicon-refresh"></span> Hard Reset</a>
                </li>
                <li>
                    <a id="print-queries-button" href="#"><span class="glyphicon glyphicon-print"></span> Print Queries</a>
                </li>
                <li>
                    <a id="print-videos-button" href="#"><span class="glyphicon glyphicon-print"></span> Print Videos</a>
                </li>
                <!--<iframe_api>-->
            </ul>
            <form class="navbar-form pull-right" role="search">
                <div class="input-group">
                    <input type="text" class="form-control searchtext" placeholder="Search">
                </div>
            </form>
        </div>
    </nav>
</div>
<!-- END Navigation Bar -->

<!-- Videos Container -->
<div id="videosContainer" class="container-fluid">

    <!-- Sample Alert Message -->
    <!--<div class="alert alert-success fade in" role="alert">
        Successfully added new video to database!
    </div>-->

    <!-- Placeholder for status alerts of videos that have been uploaded-->
    <div id="videoUploadStatusPlaceholder"></div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="numVideos"></span> Channel Videos
            <div class="btn-group pull-right">
                <button id="addVideoButton" type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#addVideoModal">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>

        <!-- Videos Table -->
        <table class="table table-striped videoTable">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Thumbnail</th>
                    <th>Title</th>
                    <th>ID</th>
                    <th>Tags</th>
                    <th id="modify-col"><center>Modify</center></th>
                </tr>
            </thead>
            <tbody class="videolist"></tbody>
        </table>
        <!-- END Videos Table -->
    </div>

</div>
<!-- END Videos Container -->

<!-- Queries Container -->
<div id="queriesContainer" class="container-fluid">

    <!-- Queries Table -->
    <div class="row">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Time</th>
                <th>Query</th>
                <th>IP</th>
                <th>Hit</th>
            </tr>
            </thead>
            <tbody class='querylist'> </tbody>
        </table>

    </div>
    <!-- END Queries Table -->

</div>
<!-- END Queries Container -->

<!-- AddVideo Modal -->
<div class="modal fade" id="addVideoModal" tabindex="-1" role="dialog" aria-labelledby="addVideoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="uploadVideoForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Add Video</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="videoFile">File</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-default btn-file">
                                    Choose File <input type="file" id="videoFile" accept="video/*">
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="videoTitle">Title</label>
                        <input type="text" class="form-control" id="videoTitle" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="videoDescription">Description</label>
                        <textarea class="form-control" id="videoDescription" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="videoTags">Tags</label>
                        <input type="text" class="form-control" id="videoTags">
                    </div>
                    <div class="form-group">
                        <label>Privacy Setting</label> <br />
                        <div class="btn-group" data-toggle="buttons" id="privacySetting">
                          <label class="privacy btn btn-primary active">
                            <input type="radio" name="privacy" autocomplete="off" value="public" checked>Public
                          </label>
                          <label class="privacy btn btn-primary">
                            <input type="radio" name="privacy" autocomplete="off" value="unlisted">Unlisted
                          </label>
                          <label class="privacy btn btn-primary">
                            <input type="radio" name="privacy" autocomplete="off" value="private">Private
                          </label>
                        </div>
                    </div>
                    <div id="videoErrorPlaceholder"></div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" id="cancel" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="upload">Submit</button>
                    <div class="progress" id="uploadProgress">
                        <div class="progress-bar" data-transitiongoal="0" aria-valuemin="0" aria-valuemax="100" id="uploadProgressBar"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END AddVideo Modal -->

<!-- DeleteVideo Modal -->
<div class="modal fade" id="deleteVideoModal" tabindex="-1" role="dialog" aria-labelledby="deleteVideoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Delete Video</h4>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to delete this video?</h4>
                <div>
                    <label for="deleteTitle">Title</label>
                    <input id="deleteTitle" type="text" class="form-control" readonly>
                </div>
                <div>
                    <label for="deleteID">ID</label>
                    <input id="deleteID" type="text" class="form-control" readonly>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Nope</button>
                <button type="button" class="btn btn-primary" id="deleteSubmit">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- END DeleteVideo Modal -->

<!-- EditVideo Modal -->
<div class="modal fade" id="editVideoModal" tabindex="-1" role="dialog" aria-labelledby="editVideoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="editUploadForm">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Edit Video</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editVideoThumbnail">Thumbnail</label>
                        <div><img id="editVideoThumbnail" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" class="img-thumbnail"/></div>
                    </div>
                    <div class="form-group">
                        <label for="editID">ID</label>
                        <input id="editID" type="text" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="EditVideoTitle">Title</label>
                        <input type="text" class="form-control" id="editVideoTitle" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <label for="editVideoDescription">Description</label>
                        <textarea class="form-control" id="editVideoDescription" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="editVideoTags">Tags</label>
                        <input type="text" class="form-control" id="editVideoTags">
                    </div>
                    <div class="form-group">
                        <label>Privacy Setting</label> <br />
                        <div class="btn-group" data-toggle="buttons" id="editPrivacySetting">
                          <label class="edit-privacy btn btn-primary active">
                            <input type="radio" name="editPrivacy" value="public" autocomplete="off" checked>Public
                          </label>
                          <label class="edit-privacy btn btn-primary">
                            <input type="radio" name="editPrivacy" value="unlisted" autocomplete="off">Unlisted
                          </label>
                          <label class="edit-privacy btn btn-primary">
                            <input type="radio" name="editPrivacy" value="private" autocomplete="off">Private
                          </label>
                        </div>
                    </div>
                    <div id="editVideoErrorPlaceholder"></div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" id="editCancel" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="editUpload">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END EditVideo Modal -->

<!-- AddThumbnails Modal -->
<div class="modal fade" id="addThumbnailsModal" tabindex="-1" role="dialog" aria-labelledby="addThumbnailsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="addThumbnailsForm" action='/thumbnails' onSubmit="return false" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Add Thumbnails</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="thumbnailsFile">Thumbnails .zip Archive</label>
                        <div class="input-group">
                            <span class="input-group-btn">
                                <span class="btn btn-default btn-file">
                                    Choose File <input type="file" id="thumbnailsFile" name="thumbnails" accept="application/zip">
                                </span>
                            </span>
                            <input type="text" class="form-control" readonly>
                        </div>
                    </div>

                    <div id="thumbnailsErrorPlaceholder"></div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" id="cancelThumbnailsUpload" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" id="uploadThumbnails">Submit</button>
                    <div class="progress" id="uploadThumbnailsProgress">
                        <div class="progress-bar" data-transitiongoal="0" aria-valuemin="0" aria-valuemax="100" id="uploadThumbnailsProgressBar"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END AddThumbnails Modal -->

<ul class="pager">
    <li class="previous disabled nav-prev"><a href="#">&larr; Previous</a></li>
    <li class="next nav-next"><a href="#">Next &rarr;</a></li>
</ul>

</body>
</html>
