// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');

.video {
  //line-height: 1.5em;
  //font-size: .85em;

  .x-innerhtml{
    padding: 6px !important;
  }

  .thumb {
    margin: 0 .5em 0 0;
    //margin: -0.4em .5em .2em -.4em;
    //width: $thumbnail-size;
    //height: 8em; //$thumbnail-size * .5625;
    //background-color: #eee;
    //background-size: $thumbnail-size auto;
    //background-position: center center;
    //float: left;
    //margin: 0 8px 16px 0;
    border: 1px solid #ccc;
    vertical-align: middle;
    //background-repeat: no-repeat;
  }
  .name {
    //font-weight: bold;
    //font-size: 0.85em;
    //display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    //text-transform: capitalize;
  }
  .desc {
    //font-weight: bold;
    font-size: 0.75em;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .related {
    font-size: 0.75em;
    display: block;
    font-weight: bold;
  }
  ul {
    font-size: 0.75em;
  }
}

.ytpanel {
  .x-innerhtml {
    height: 100%;
  }
}
