/*TODO: Move this to our own stylesheet*/
body {
	padding: 20px;
}

#videoDescription {
	resize: none;
}

.div-table-content {
	overflow-y: scroll;
}
.keyword {
	margin-top: .2em;
	margin-right: .15em;
	float: left;
}
#modify-col {
	width: 100px;
}

.signin-span {
	position: relative;
	top: 10px;
}

.results-panel {
	max-height: 70%;
}

.nav-buttons-wrap {
	margin-right: 20px;
	margin-top: -30px;
	float: right;
}

.user_name_wrapper {
	display: block;
	float: left;
	margin-top: 10px;
}

.nav-buttons-wrap button {
	visibility: hidden;
}

.pager {
	padding-left: 25px;
	padding-right: 25px;
	margin-top: -20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#addVideoButton {
	padding: .5em;
}

.alert-with-spinner {
	margin-left:35px;
}

.progress {
	margin-top: 20px;
}

/*.videoTable tr *:nth-child(2) {*/
    /*display: none;*/
/*}*/